<div class="sidebar-nav">
	<div class="navbar navbar-default">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse2">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<div class="collapse navbar-collapse" id="js-navbar-collapse2">
			<ul class="nav navbar-nav">
				<li ng-repeat="field in fields" class="{{ menu.active ? 'active' : '' }}">
					<a href="" class="collapsed">
						<h4>
							{{menu.menu_tag}} 
						</h4>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>