<div class="horizontal-slide no-padding">
    <table class="page-wrap no-padding">
    	<tr>
    		<td ng-repeat="day in prediccion.dia" class="item no-padding">
    			{{day._fecha | date:'EEE dd'}}
    			<table>
                    <tr class="no-padding">
                        <td ng-repeat="(iter,key) in day.estado_cielo" class="item2 no-padding">
                            <div ng-repeat="area in field.area">
                                <info-raw-aemet type="area.type" field="area" entity="day[area.name]" iter="iter" info-entity="infoEntity"></info-raw-aemet>
                            </div>
                        </td>
 
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
