<div class="horizontal-slide">
    <table class="page-wrap">
    	<tr>
    		<td ng-repeat="day in prediccion.dia" class="item">
    			{{day._fecha | date:'EEE dd'}}
    			<table>
                    <tr>
                        <td ng-repeat="(iter,key) in day.estado_cielo" class="item2">
                            <div ng-repeat="area in field.area">
                                {{ day[area.name][iter].__text}}</br>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>