<uib-accordion>
	<uib-accordion-group heading="{{entity[metaData.entity].name}}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
		
		<div class="{{metaData.picture ? 'col-md-8' : 'col-md-12'}}">
			<info-raw  ng-repeat="field in fields" type="metaData.type" entity="entity[metaData.entity]" field="field"> </info-raw>
		</div>
		<div ng-if="metaData.picture" class="col-md-4">
			<img class="col-md-12" ng-src="/images/photo.png"></img>
		</div>
    </uib-accordion-group>
</uib-accordion>