<!-- <info-container page="surf"><info-container> -->

<div class="row affix-row">
	

	<div class="col-md-offset-2 col-md-4 affix-content">
		<!-- 16:9 aspect ratio -->
		<div class="embed-responsive embed-responsive-4by3">
			<iframe class="embed-responsive-item" src="https://www.youtube.com/v/K09BKMx4STQ"></iframe>
		</div>
	</div>
	<div class="col-md-4 affix-content">
		<!-- 16:9 aspect ratio -->
		<div class="embed-responsive embed-responsive-4by3">
			<iframe class="embed-responsive-item" src="https://www.youtube.com/v/Lf-UE9PSR10"></iframe>
		</div>
	</div>

	<div class="col-md-4 affix-content">
		<!-- 16:9 aspect ratio -->
		<div class="embed-responsive embed-responsive-4by3">
			<iframe class="embed-responsive-item" src="rtsptextrtsp://dummyurl/axis-media/media.amp?videocodec=mpeg4"></iframe>
		</div>
	</div>
</div>
